/* ******countdown timer****** */
.time-boxes {
  @include flex(row nowrap, center, space-between);
  margin: 0 auto;

  .time-box-container {
    text-align: center;
    margin-right: 0.6rem;

    @media only screen and (min-width: 900px) {
      margin-right: 1.5rem;
    }

    &:last-child {
      margin-right: 0;
    }

    .time-box {
      position: relative;

      .top-flip {
        background-color: $darkDesaturatedBlue;
        height: 40px;
        width: 80px;
        @include borderRadius(0, 0, 8px, 8px);

        @media only screen and (min-width: 900px) {
          height: 50px;
          width: 100px;
        }
      }

      .bottom-flip {
        background-color: lighten($darkDesaturatedBlue, 15%);
        height: 40px;
        width: 80px;
        @include borderRadius(8px, 8px, 0, 0);

        @media only screen and (min-width: 900px) {
          height: 50px;
          width: 100px;
        }
      }

      .digits {
        color: $softRed;
        font-size: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (min-width: 900px) {
          font-size: 3.5rem;
        }
      }
    }
  }

  .title {
    font-size: 0.6rem;
    padding-top: 0.5rem;

    @media only screen and (min-width: 900px) {
      font-size: 0.8rem;
    }
  }
}
